h1{
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    font-size: 50px;
    margin-bottom: 0;
    
}

h2{
    color: white;
    display: flex;
    padding: 20px;
    margin: 20px auto;
    font-size: 50px;
    justify-content: center;
    margin-top: 0;
}
p{
    color: #fff9;
    padding: 20px;
    margin: 20px auto;
    font-size: 20px;
    justify-content: center;
}