.footer {
    /* flex-shrink: 0; */
    display: flex;
    text-align: center;
    background-color:#09FC13;
    color: black;
    justify-content: center;
    height: 80px;
    align-items: center;
    bottom: 0;
    position: absolute;
    right:0;
    left:0;
    
  }

#pfooter{
    color:black;
    
}

