.App {
  background-image: url("wall.jpg");
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #0d0d0d;
  background: #0d0d0d;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100vh
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrap {
  flex: 1;
}

/* Components switching animation */

.fade-appear, .fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active, .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}